body{
  background: hsl(0, 0%, 9%);
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-family: 'Cabin', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: hsl(240, 5.9%, 90%);
}

header {
  width: 93%;
  max-width: 788px;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  margin-top: 5px;
}

.share-button {
  width:40px;
  height: 40px;
  border-radius: 10px;
  background-color: hsl(240, 3.7%, 15.9%);
}

.share-button svg {
  width: 30px;
  height: 30px;
  margin: 4px 6px;
  color: hsl(240, 5.9%, 10%);
}

.container {
  width: 91%;
  max-width: 680px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: hsl(240, 5.9%, 90%);
}
.tile {
  width: 100%;
  margin: 8px;
  border-radius: 17px;
  background-color: hsl(240, 3.7%, 15.9%);
  display: flex;
  justify-content: space-between;
}

.tile:hover {
  transform: scale(1.07);
  transition: cubic-bezier(0.7, 1.41, .82, 1.41) 0.2s;
}

.image-container {
  height: 96px;
  width: 96px;
  border-radius: 48px;
  overflow: hidden;
}

.image-container img {
  height: 100%;
}

.tile-share-button {
  margin: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: hsl(240, 5.3%, 26.1%);
}

.icon svg {
  margin: 5px 6px;
  width: 44px;
  height: 44px;
}

.tile-share-button svg {
  margin: 6px 9px;
  width: 24px;
  height: 24px;
}

.footer {
  margin-top: 16px;
}